/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
	font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #2c3338;
	color: #606468;
	font: 87.5%/1.5em 'Open Sans', sans-serif;
	margin: 0;
}

a {
	color: #eee;
	text-decoration: none;
}

a:hover {
	color: #eee;
	text-decoration: underline;
}

input {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5em;
	padding: 0;
	-webkit-appearance: none;
}

.fail {
	line-height: 1.5em;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	font-size: 5em;
	text-transform: uppercase;
	text-align: center;
	text-transform: uppercase;
}

p {
	line-height: 1.5em;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before, .clearfix:after {
	content: ' ';
	display: table;
}

.clearfix:after {
	clear: both;
}


#manager {
	left: 50%;
	position: fixed;
	top: 10%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#manager>p {
	text-align: center;
}

#manager>p span {
	padding-left: 5px;
}

/* ---------- LOGIN ---------- */
#login {
	width: 280px;
	float: center;
	margin: 100px
}

#login form span {
	background-color: #363b41;
	border-radius: 3px 0px 0px 3px;
	color: #606468;
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 50px;
}

#login form input {
	height: 50px;
}

#login form input[type="text"], input[type="password"] {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	width: 230px;
}

#login form input[type="submit"] {
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color: #3e9bf9;
	color: #eee;
	font-weight: bold;
	margin-bottom: 2em;
	text-transform: uppercase;
	width: 280px;
}

#login form input[type="submit"]:hover {
	background-color: #0c82f8;
	cursor: pointer;
}

#login>p {
	text-align: center;
}

#login>p span {
	padding-left: 5px;
}

#login select {
	font: 97.5%/1.5em 'Open Sans', sans-serif;
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	border-color: #3b4148;
	color: #606468;
	margin-bottom: 1em;
	padding: 0 16px;
	height: 50px;
	width: 230px;
	color: #606468;
}

#logo {
	color: #eee;
	font-weight: 900;
	text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 150px;
	margin-bottom: 20%;
	text-transform: uppercase;
	width: 280px;
	text-align: center;
	font-size: 150px;
}

#miniLogo {
	color: #eee;
	text-shadow: 4px 2px 4px rgba(0, 0, 0, 0.5);
	font-size: 20px;
	margin-bottom: 30%;
	text-transform: uppercase;
	width: 280px;
	text-align: center;
}

::-webkit-input-placeholder {
	color: #606468;
}

#table {
	width: 800px;
	margin-top: 120px;
	margin-left: 280px;
}

.link {
	color: #606468;
	margin-left: 0.7em;
}

.link:hover {
	color: #606468;
}